html{}

a{text-decoration:none;}

body{font-family:"微软雅黑"; font-size:13px; color:#333333; margin:0px;}

td{font-size:13px; color:#333333;}

button{border:none; background-color:#4ab6ef; font-size:13px; color:#ffffff; box-sizing:border-box; border:none; outline:none; cursor:pointer;}

input{font-family:"微软雅黑"; font-size:13px; color:#333333; box-sizing:border-box; margin:0px; outline:none; padding:0px 3px }

textarea{font-family:"微软雅黑"; font-size:13px; color:#333333; box-sizing:border-box; outline:none; padding:3px}

select{font-family:"微软雅黑"; font-size:13px; color:#333333; margin:0px; box-sizing:border-box; outline:none}

ul, ol, menu, p, h1, h2, h3, h4, h5, h6, hr, dl, dt, dd, form{padding:0px; margin:0px;}

li{padding:0px; margin:0px; list-style-type:none}

.line-break{clear:both}

.clearfix::after{clear:both; content:""; display:block;}

.green{background-color:#5DC4BF!important}

.red{background-color:#cd5050!important}

.blue{background-color:#009CEA!important}

.left{float:left}

.right{float:right}

.button{border:none; background-color:#4ab6ef; font-size:13px; color:#ffffff; box-sizing:border-box; border-width:0px; outline:none; cursor:pointer; padding:0px 4px}

#loading-panel{}

#loading-panel .loading-mask{position:fixed; width:100%; height:100%; top:0px; left:0px;right:0px; bottom:0px; background-color:#333333; filter:alpha(opacity=10); opacity:0.1;}

#loading-panel .loading-toast{position:absolute; width:100px; background-color:#ffffff; height:100px; opacity:0.7; border:1px solid #dddddd}

#loading-panel .loading-toast img{display:block; margin:0px auto;}

#messages-panel{box-sizing:border-box; display:none; position:absolute; top:0px; left:0px; background-color:#fefbdf; width:100%; padding:30px; color:#333333; filter:alpha(opacity=90); opacity:0.9;}

.grid-toolbar-panel{overflow:hidden;}
.grid-toolbar-panel .searcher-panel{}
.grid-toolbar-panel .searcher-panel .search-title{color:#aaaaaa; margin:0px 10px 0px 4px}
.grid-toolbar-panel .searcher-panel .searcher-keyword-panel{background-color:#ffffff; padding:0px 10px; border-radius:3px; width:300px}
.grid-toolbar-panel .searcher-panel .searcher-keyword-panel input{width:275px}
.grid-toolbar-panel .searcher-panel input{border-radius:2px; margin-right:5px; background-color:#ffffff; border:0px none; color:#838383; width:100px; height:35px; padding:0px 5px}
.grid-toolbar-panel .searcher-panel i{font-size:14px; color:#999999}
.grid-toolbar-panel .pagination-panel {margin:0px auto}
.grid-toolbar-panel .pagination-panel ul{margin:0px auto}
.grid-toolbar-panel .pagination-panel ul li{float:left; margin-left:5px}
.grid-toolbar-panel .pagination-panel ul li a{cursor:pointer; height:35px; line-height:35px; background-color:#ffffff; border-radius:4px; color:#999999; font-size:13px; padding:0px 10px; display:block}
.grid-toolbar-panel .pagination-panel ul li a.disabled{background-color:#f2f2f2; cursor:not-allowed}
.grid-toolbar-panel .pagination-panel ul li a i{font-size:14px; color:#999999}


.module-panel{margin:10px}
#left-panel{float:left; width:260px}
#left-panel h4{font-weight:400; color:#555555; font-size:16px; margin-top:12px; letter-spacing:1px}
#left-panel h4 span{font-weight:400}
#left-panel p{margin-top:6px; color:#999999; font-size:12px}
#left-panel #all-item{margin-top:10px}
#left-panel #all-item h5{padding: 8px 0px; color:#999999; font-size:14px; margin:0px; float:left; font-weight:400;}
#left-panel ul{color:#999999;}
#left-panel ul li{margin-top:5px; cursor:pointer}
#left-panel ul li:hover h5{color:#ffaa00}
#left-panel ul li h5{padding:8px 0px; color:#999999; font-size:14px; margin:0px; float:left; font-weight:400}
#left-panel ul li img{width:40px; height:40px;}
#left-panel ul li strong{float:right; font-size:12px; margin:10px 10px 0px 0px; background-color:#999999; color:#ffffff; padding:0px 5px; border-radius:10px; font-weight:400;}
#right-panel{margin-left:260px;}


.header-panel{background-color:#F7F7F7;}
.header-panel .header-items{padding:20px}
.header-panel .header-items .header-icon{float:left}
.header-panel .header-items .header-icon img{width:80px; height:80px; display:block; margin-right:20px}
.header-panel .header-items .header-title{float:left}
.header-panel .header-items .header-title h2{font-size:23px; letter-spacing:2px; color:#666666; font-weight:300;}
.header-panel .header-items .header-title p{padding-top:5px;}
.header-panel .header-items .header-buttons{float:right}
.header-panel .header-items .header-buttons button{height:60px; padding:0px 20px; font-size:20px}
.header-panel .header-items .header-buttons button i{margin-right:3px;}

.fields-panel{padding:10px;} 
.fields-panel input{color: #444444; margin-top:5px; width:100%; margin-right:10px; border:none; border-radius:2px; height:30px;}	
.fields-panel textarea{color: #444444; margin-top:5px; width:100%; margin-right:10px; border:none; border-radius:2px; height:50px}	
.fields-panel .close-button{text-align:center; margin:10px 0px; cursor:pointer}
.fields-panel .close-button i{font-size:15px; color:#aaaaaa}
.fields-panel .row-panel{margin-top:10px; overflow:hidden}
.fields-panel .field-panel{padding-right:10px; box-sizing:border-box}
.fields-panel .button-panel{text-align:center; margin-top:20px}
.fields-panel .button-panel button{padding:10px 50px}



.left-frame{float:left; width:250px;}
.right-frame-container{float:right; margin:0px 0px 0px -260px; width:100%}
.right-frame{margin:0px 0px 0px 250px;}